QS_DEBUG=0
QS_PORT=7171
QS_OPTIMIZE_DEFAULTS=1
QS_FLASK_SESSION_DIR=/config/flask_session
QS_SESSION_LIFETIME_DAYS=30
QS_SECRET_KEY=
QS_KOMETA_PATH=/config/kometa
QS_TEST_LIBS_PATH=
QS_TEST_LIBS_TMP=
