<div class="alert alert-danger qs-validation-callout" role="alert">
  <h6><b>This page is mandatory and must be completed</b></h6>
  Enter your TMDb API Key and press "Validate" to continue.
  It is important that you use a TMDb V3 API key. If you do not already have one, <a href="https://www.themoviedb.org/settings/api" target="_blank">Click Here</a>
  <br><br><a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/config/tmdb/" target="_blank">Click Here</a>
  to go to the Kometa wiki for this connector.
</div>
