<div class="alert alert-danger" role="alert">
  <h6><b>This section is mandatory and must be completed</b></h6>
  Select the libraries you would like to use Kometa on, toggle the Include button, and then select which Defaults you would like to apply.
  <br><br><a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/defaults/files/" target="_blank">Click
    Here</a> to be taken to the list of Defaults files on the Kometa wiki. Each default has a link that will give you an
  example of what collections/overlays each default will create.
  <br><br><a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/config/libraries/#library-attributes"
    target="_blank">Click Here</a> to be taken to the list of available Library Attributes on the Kometa wiki.
</div>
