<div class="alert alert-info qs-validation-callout" role="alert">
  <h6><b>This page is optional</b></h6>
  Enter your Tautulli URL and API Key and press "Validate". The apikey can be found by going to Tautulli > Settings > Web Interface > API > API Key.
  <br>Alternatively, press the green arrow button to skip ahead.
  <br><br><a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/config/tautulli/" target="_blank">Click
    Here</a> to go to the Kometa wiki for this connector.
</div>
