<div class="alert alert-info" role="alert">
  <h6><b>This section is optional</b></h6>
  Enter your OMDb API Key and press "Validate". If you do not already have one, <a href="https://www.omdbapi.com/apikey.aspx" target="_blank">Click here</a>
  <br><br>The free apikey is limited to 1000 requests per day so if you hit your limit the program should be able to pick up where it left off the next day as long as the cache Setting is enabled.
  <br><br>Alternatively, press the green arrow button to skip ahead.
  <br><br><a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/config/omdb/" target="_blank">Click Here</a>
  to go to the Kometa wiki for this connector.
</div>
