<div class="alert alert-info qs-validation-callout" role="alert">
  <h6><b>This page is optional</b></h6>
  Enter your Notifiarr API Key and press "Validate". If you do not already have one, <a href="https://notifiarr.com/user.php?page=profile" target="_blank">Click here</a>
  <br>Alternatively, press the green arrow button to skip ahead.
  <br><br><a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/config/notifiarr/" target="_blank">Click
    Here</a> to go to the Kometa wiki for this connector.
</div>
