<div class="alert alert-info qs-validation-callout" role="alert">
  <h6><b>This page is optional</b></h6>
  Enter your Sonarr URL/Token and press "Validate", then complete the rest of the form.The token can be found by going to Sonarr > Settings > General > Security > API Key.
  <br>Alternatively, press the green arrow button to skip ahead.
  <br><br><a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/config/sonarr/" target="_blank">Click
    Here</a> to go to the Kometa wiki for this connector.
</div>
