<div class="alert alert-info qs-validation-callout" role="alert">
  <h6><b>This page is optional</b></h6>
  Enter your Trakt Client ID/Client Secret and press "Retrieve PIN" which will take you to Trakt to complete
  authorization. Copy the PIN and paste it into the form, then press "Validate PIN".
  <br>Alternatively, press the green arrow button to skip ahead.
  <br><br><a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/config/trakt/" target="_blank">Click Here</a>
  to go to the Kometa wiki for this connector.
</div>
