<div class="alert alert-info qs-validation-callout" role="alert">
  <h6><b>This page is optional</b></h6>
  Enter your MyAnimeList Client ID/Client Secret and press "Authorize" which will take you to MyAnimeList to complete
  authorization. <b>you will be taken to a localhost page which does not load. Copy that URL</b> and paste it into the
  form and then press "Complete Authentication".
  <br>Alternatively, press the green arrow button to skip ahead.
  <br><br><a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/config/myanimelist/" target="_blank">Click
    Here</a> to go to the Kometa wiki for this connector.
</div>
