<div class="alert alert-success" role="success">
  <h4><b>Thank you for using Quickstart</b></h4>
  <br>
  <p class="fs-5"><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click here</a> for some guidance on
    next steps.
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Next Steps</h1>
      </div>
      <div class="modal-body">
        <p>Now that you have your Kometa Configuration File, you should check if any errors have been flagged. If they
          have been, go back to the relevant page and make any necessary adjustments.</p>

        <p>(<code>ONLY</code> On <code>Local-*</code> installations of Quickstart), skip down to the <code>Build Your Kometa Run Command</code> and feel free to hit the <code>Run Now</code> button to launch Kometa immediately.</p>

        <p>We have added some ASCII headers to categorize the configuration, you can choose your <b>Header Style</b> to
          change how your config looks!</p>

        <p>You can also hit the <b>Download Config</b> or <b>Download Redacted Config</b> button and place it in the
          <code>config</code> folder of your choice.</p>

        <p>Thanks for using Quickstart and enjoy your Kometa journey!</p>

        <p>Finally, SMASH that Donate button or Sponsor page to help keep the projects going!</p>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
