{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
<div class="input-group mb-2">
    <span class="input-group-text" id="tmdb_apikey_text"" style=" width: 175px; justify-content: space-between;">
        TMDb API Key
        <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;" title="Enter your TMDb API Key.<br><br>
                If you do not have an API key, visit TMDb's website to create one.">
            <i class="bi bi-info-circle-fill"></i>
        </span>
    </span>
    <input type="password" class="form-control" id="tmdb_apikey" name="tmdb_apikey"
        value="{{ data['tmdb']['apikey'] | string if data['tmdb']['apikey'] and 'Enter TMDb API Key' not in data['tmdb']['apikey'] | string else '' }}"
        aria-describedby="tmdb_apikey_text">
    <button class="btn btn-outline-secondary" id="toggleApikeyVisibility" type="button">
        <i class="fas fa-eye"></i>
    </button>
    <button class="btn btn-success" id="validateButton" type="button">
        Validate <i id="spinner_validate" class="spinner-border spinner-border-sm" style="display:none;"></i>
    </button>
</div>



<div class="form-floating" style="display:none;">
    <input type="text" class="form-control" id="tmdb_validated" name="tmdb_validated" value="{{ data['validated'] }}"
        title="">
    <label for="tmdb_validated">TMDb Validated</label>
</div>
<div id="statusMessage" class="status-message mb-2"></div>
<div class="row">
    <div class="col">
        <div class="input-group mb-2">
            <span class="input-group-text" id="tmdb_language_text"" style=" width: 175px; justify-content:
                space-between;">
                Language
                <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                    title="Select the language for TMDb metadata.">
                    <i class="bi bi-info-circle-fill"></i>
                </span>
            </span>
            <select class="form-select" id="tmdb_language" name="tmdb_language" aria-describedby="tmdb_language_text">
                <option value="">Select Language</option>
                {% for code, language in data['iso_639_1_languages'] %}
                <option value="{{ code }}" {% if code==data['tmdb']['language'] %}selected{% endif %}>{{ language }}
                </option>
                {% endfor %}
            </select>
        </div>
        <span id="languageStatusMessage" class="status-message mb-2"></span>
    </div>
    <div class="col">
        <div class="input-group mb-2">
            <span class="input-group-text" id="tmdb_region_text"">
                    Region
                    <span class=" text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                title="Select the region for TMDb metadata.">
                <i class="bi bi-info-circle-fill"></i>
            </span>
            </span>
            <select class="form-select" id="tmdb_region" name="tmdb_region" aria-describedby="tmdb_region_text">
                <option value="US" {% if not data['tmdb']['region'] or data['tmdb']['region']=='US' %}selected{% endif
                    %}>United States</option>
                {% for code, region in data['iso_3166_1_regions'] | sort(attribute='1') %}
                {% if code != "US" %}
                <option value="{{ code }}" {% if code==data['tmdb']['region'] %}selected{% endif %}>{{ region }}
                </option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <span id="regionStatusMessage" class="status-message mb-2"></span>
    </div>
</div>

<div class="input-group mb-2">
    <span class="input-group-text" id="tmdb_cache_expiration_text"
        style="width: 175px;  justify-content: space-between;">
        Cache Expiration
        <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
            title="Set the number of days before TMDb cache expires.<br><br>Setting it to 0 disables caching.">
            <i class="bi bi-info-circle-fill"></i>
        </span>
    </span>
    <input type="number" class="form-control" id="tmdb_cache_expiration" name="tmdb_cache_expiration"
        value="{{ data['tmdb']['cache_expiration'] }}" min="0" aria-describedby="tmdb_cache_expiration_text">
</div>

</div>
</form>
{% endblock %}
