{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
<div class="input-group mb-2">
    <span class="input-group-text" id="omdb_apikey_text" style="width: 238px; justify-content: space-between;">
        OMDb API Key
        <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
            title="Enter your OMDb API Key to allow Quickstart to authenticate with OMDb.">
            <i class="bi bi-info-circle-fill"></i>
        </span>
    </span>
    <input type="password" class="form-control" id="omdb_apikey" name="omdb_apikey"
        value="{{ data['omdb']['apikey'] | string if data['omdb']['apikey'] and 'Enter OMDb API Key' not in data['omdb']['apikey'] | string else '' }}"
        aria-describedby="omdb_apikey_text">
    <button class="btn btn-outline-secondary" id="toggleApikeyVisibility" type="button">
        <i class="fas fa-eye"></i>
    </button>
    <button class="btn btn-success" id="validateButton" type="button">
        Validate <i id="spinner_validate" class="spinner-border spinner-border-sm" style="display:none;"></i>
    </button>
</div>


<div class="form-floating" style="display:none;">
    <input type="text" class="form-control" id="omdb_validated" name="omdb_validated" value="{{ data['validated'] }}"
        title="">
    <label for="omdb_validated">OMDb Validated</label>
</div>
<div id="statusMessage" class="status-message mb-2"></div>

<div class="input-group mb-2">
    <span class="input-group-text" id="omdb_cache_expiration_text"
        style="width: 238px; justify-content: space-between;">
        Cache Expiration (in days)
        <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
            title="Set the duration in days for the OMDb API cache expiration.">
            <i class="bi bi-info-circle-fill"></i>
        </span>
    </span>
    <input type="number" class="form-control" id="omdb_cache_expiration" name="omdb_cache_expiration"
        value="{{ data['omdb']['cache_expiration'] }}" min="0"
        title="Set the number of days the OMDb API cache will be valid before expiring.">
</div>

</div>
</form>
{% endblock %}
