{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
<div class="input-group mb-2">
  <span class="input-group-text" id="ntfy_url_text" style="width: 185px; justify-content: space-between;">
    ntfy URL
    <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
      title="Enter your ntfy server URL to allow Quickstart to communicate with ntfy.">
      <i class="bi bi-info-circle-fill"></i>
    </span>
  </span>
  <input type="text" class="form-control" id="ntfy_url" name="ntfy_url"
    value="{{ data['ntfy']['url'] | string if data['ntfy']['url'] and 'http://192.168.1.12:80' not in data['ntfy']['url'] | string else '' }}"
    title="Enter your ntfy server URL" aria-describedby="ntfy_url_text">
</div>

<div class="input-group mb-2">
  <span class="input-group-text" id="ntfy_token_text" style="width: 185px; justify-content: space-between;">
    ntfy Access Token
    <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
      title="Enter your ntfy Access Token to allow Quickstart to authenticate with ntfy.">
      <i class="bi bi-info-circle-fill"></i>
    </span>
  </span>
  <input type="password" class="form-control" id="ntfy_token" name="ntfy_token"
    value="{{ data['ntfy']['token'] | string if data['ntfy']['token'] and 'Enter ntfy Access Token' not in data['ntfy']['token'] | string else '' }}"
    title="ntfy Access Token" aria-describedby="ntfy_token_text">
  <button class="btn btn-secondary" id="toggleTokenVisibility" type="button">
    <i class="fas fa-eye"></i>
  </button>
  <button class="btn btn-success" id="validateButton" type="button">
    Validate <i id="spinner_validate" class="spinner-border spinner-border-sm" style="display:none;"></i>
  </button>
</div>


<div class="input-group mb-2">
  <span class="input-group-text" id="ntfy_topic_text" style="width: 185px; justify-content: space-between;">
    ntfy Topic
    <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
      title="Enter your ntfy topic to allow Quickstart to send notifications.">
      <i class="bi bi-info-circle-fill"></i>
    </span>
  </span>
  <input type="text" class="form-control" id="ntfy_topic" name="ntfy_topic"
    value="{{ data['ntfy']['topic'] | string if data['ntfy']['topic'] and 'Enter ntfy Topic' not in data['ntfy']['topic'] | string else '' }}"
    title="Enter your ntfy topic" aria-describedby="ntfy_topic_text">
</div>


<div class="form-floating" style="display:none;">
  <input type="text" class="form-control" id="ntfy_validated" name="ntfy_validated" value="{{ data['validated'] }}"
    title="">
  <label for="ntfy_validated">ntfy Validated</label>
</div>
<div id="statusMessage" class="status-message mb-2"></div>
</div>
</form>
{% endblock %}
