{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
<div class="form-check form-switch mb-2">
    <input class="form-check-input" type="checkbox" name="anidb_enable" id="anidb_enable" value="true" {% if
        data['anidb']['enable']|default(false)|string|lower=='true' %}checked{% endif %}>
    <input type="hidden" name="anidb_enable" value="false">
    <label class="form-check-label" for="anidb_enable">Enable
        <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
            title="Enable AniDB settings. When disabled, settings are hidden.">
            <i class="bi bi-info-circle-fill"></i>
        </span>
    </label>
</div>

<div id="anidb-fields">
    <div class="form-check form-switch mb-2">
        <input class="form-check-input" type="checkbox" name="anidb_enable_mature" id="anidb_enable_mature" value="true" {% if
            data['anidb']['enable_mature']|string|lower=='true' %}checked{% endif %}>
        <input type="hidden" name="anidb_enable_mature" value="false">
        <label class="form-check-label" for="anidb_enable_mature">Enable Mature Content
            <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                title="Enable access to mature/restricted AniDB content.">
                <i class="bi bi-info-circle-fill"></i>
            </span>
        </label>
    </div>

    <div class="input-group mb-2">
        <span class="input-group-text" id="anidb_language_text" style="width: 238px; justify-content: space-between;">
            Language
            <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                title="Select the preferred language for AniDB data">
                <i class="bi bi-info-circle-fill"></i>
            </span>
        </span>
        <select class="form-select" id="anidb_language" name="anidb_language" aria-describedby="anidb_language_text">
            <option value="">Select Language</option>
            {% for code, language in data['iso_639_1_languages'] %}
            <option value="{{ code }}" {% if code==data['anidb']['language'] %}selected{% endif %}>{{ language }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="input-group mb-2">
        <span class="input-group-text" id="anidb_cache_expiration_text"
            style="width: 238px; justify-content: space-between;">
            Cache Expiration (in days)
            <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                title="Set the number of days after which the cache expires">
                <i class="bi bi-info-circle-fill"></i>
            </span>
        </span>
        <input type="number" class="form-control" id="anidb_cache_expiration" name="anidb_cache_expiration"
            value="{{ data['anidb']['cache_expiration'] }}" min="0" data-default-value="60"
            aria-describedby="anidb_cache_expiration_text">
    </div>
</div>

</div>
</form>
{% endblock %}
