{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
<div class="input-group mb-2" id="mal_client_id_field">
  <span class="input-group-text" id="mal_client_id_text" style="width: 175px; justify-content: space-between;">
    Client ID
    <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
      title="Enter your MyAnimeList Client ID here.">
      <i class="bi bi-info-circle-fill"></i>
    </span>
  </span>
  <input type="text" class="form-control" id="mal_client_id" name="mal_client_id"
    value="{{ data['mal']['client_id'] | string if data['mal']['client_id'] and 'Enter MyAnimeList Client ID' not in data['mal']['client_id'] | string else '' }}"
    oninput="updateMALTargetURL(this)" aria-describedby="mal_client_id_text">
</div>
<div class="input-group mb-2">
  <input type="hidden" class="form-control" id="mal_code_verifier" name="mal_code_verifier"
    value="{{ data['code_verifier'] }}">
</div>
<div class="input-group mb-2">
  <span class="input-group-text" id="mal_client_secret_text" style="width: 175px; justify-content: space-between;">
    Client Secret
    <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
      title="Enter your MyAnimeList Client Secret here.">
      <i class="bi bi-info-circle-fill"></i>
    </span>
  </span>
  <input type="password" class="form-control" id="mal_client_secret" name="mal_client_secret"
    value="{{ data['mal']['client_secret'] | string if data['mal']['client_secret'] and 'Enter MyAnimeList Client Secret' not in data['mal']['client_secret'] | string else '' }}"
    title="Client Secret" aria-label="Client Secret" oninput="updateMALTargetURL(this)"
    aria-describedby="mal_client_secret_text">
  <button class="btn btn-outline-secondary" id="toggleClientSecretVisibility" type="button">
    <i class="fas fa-eye"></i>
  </button>
  <button class="btn btn-success" id="mal_get_localhost_url" type="button">
    Authorize <i id="spinner_retrieve" class="spinner-border spinner-border-sm" style="display:none;"></i>
  </button>
</div>

<div class="input-group mb-2">
  <span class="input-group-text" id="mal_cache_expiration_text" style="width: 175px;  justify-content: space-between;">
    Cache Expiration
    <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
      title="Set the number of days before MyAnimeList cache expires.<br><br>Setting it to 0 disables caching.">
      <i class="bi bi-info-circle-fill"></i>
    </span>
  </span>
  <input type="number" class="form-control" id="mal_cache_expiration" name="mal_cache_expiration"
    value="{{ data['mal']['cache_expiration'] }}" min="0" aria-describedby="mal_cache_expiration_text">
</div>

<input type="hidden" class="form-control" id="mal_url" name="mal_url" readonly oninput="enableLocalURLButton(this)">

<div class="input-group mb-2" id="localhost_url_field">
  <span class="input-group-text" id="mal_localhost_url_text" style="width: 175px; justify-content: space-between;">
    Localhost URL
    <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
      title="Enter the URL for localhost authentication.">
      <i class="bi bi-info-circle-fill"></i>
    </span>
  </span>
  <input type="text" class="form-control" id="mal_localhost_url" name="mal_localhost_url"
    placeholder="Enter your localhost URL here" aria-label="Localhost URL" oninput="checkURLField(this)"
    aria-describedby="mal_localhost_url_text">
  <button type="button" class="btn btn-success" id="validate_mal_url">
    Complete Authentication <i id="spinner_validate" class="spinner-border spinner-border-sm" style="display:none;"></i>
  </button>
</div>
<div class="form-floating" style="display:none;">
  <input type="text" class="form-control" id="mal_validated" name="mal_validated" value="{{ data['validated'] }}"
    title="">
  <label for="mal_validated">MyAnimeList Validated</label>
</div>
<input type="hidden" id="mal_validated_at" name="mal_validated_at" value="{{ data.get('validated_at', '') }}">
<div id="statusMessage" class="status-message mb-2"></div>
<div class="form-group" id="hidden_stuff">
  <input type="hidden" class="form-control" id="access_token" name="access_token"
    value="{{ data['mal']['authorization']['access_token'] }}" readonly>
  <input type="hidden" class="form-control" id="token_type" name="token_type"
    value="{{ data['mal']['authorization']['access_token'] }}" readonly>
  <input type="hidden" class="form-control" id="expires_in" name="expires_in"
    value="{{ data['mal']['authorization']['access_token'] }}" readonly>
  <input type="hidden" class="form-control" id="refresh_token" name="refresh_token"
    value="{{ data['mal']['authorization']['access_token'] }}" readonly>
</div>
</div>
</div>
</form>
{% endblock %}
