{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
<div id="validation-messages" class="alert alert-danger" role="alert" style="display: none;">
</div>
<div class="form-floating mb-2">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
          aria-expanded="false" aria-controls="collapseOne">
          Asset & Overlay Management
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h6 class="fw-bold mt-3"><u>Asset Settings</u></h6>
          <div class="row mb-2">
            <div class="col-md-8">
              <div id="asset_directory_container">
                <label>
                  Asset Directory
                  <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                    title="Specify the directories where assets (posters, backgrounds, etc.) are located.
                            <br><br><b>Tip:</b> Assets can be stored anywhere on the host system that Kometa has visibility of
                            (i.e. if using Docker, the directory must be mounted/visible to the Docker container).
                            <br><br><b>Warning:</b> Kometa will not create asset directories. Asset directories you specify here need to exist already.">
                  </i>
                  <a href="https://kometa.wiki/en/nightly/kometa/guides/assets/" target="_blank" class="ms-3"
                    data-bs-toggle="tooltip" title="Open Kometa Asset Guide">
                    <i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </label>

                {% for directory in data['settings']['asset_directory'] %}
                <div class="input-group mb-2">
                  <input type="text" class="form-control" name="asset_directory" id="asset_directory_{{ loop.index }}"
                    placeholder="Add Asset Directory" value="{{ directory }}">
                  <button class="btn btn-danger remove-asset-directory" type="button">Remove</button>
                </div>
                {% endfor %}
                <div class="input-group mb-2">
                  <input type="text" class="form-control" name="asset_directory" placeholder="Add Asset Directory">
                  <button class="btn btn-danger remove-asset-directory" type="button">Remove</button>
                </div>
              </div>
              <button class="btn btn-primary" id="add-asset-directory" type="button">Add Directory</button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6">
              <div class="input-group">
                <span class="input-group-text" id="asset_depth_text">
                  Asset Depth
                  <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                    title="Specify how many folder levels to scan for an item within the asset directory.<br><br><b>Tip:</b> Increasing the amount of levels to scan will reduce performance.<br><br><b>Warning:</b> <code>asset_folders</code> must be set to <code>true</code> for this to take effect.">
                    <i class="bi bi-info-circle-fill"></i>
                  </span>
                </span>

                <input type="number" class="form-control" id="asset_depth" name="asset_depth"
                  value="{{ data['settings']['asset_depth'] }}" min="0" aria-describedby="asset_depth_text">
              </div>
            </div>
          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="asset_folders" name="asset_folders" value="true" {% if
              data['settings']['asset_folders']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="asset_folders" value="false">
            <label class="form-check-label" for="asset_folders">
              Asset Folders
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="While <code>true</code>, Kometa will search the <code>asset_directory</code> for a dedicated folder per item. If <code>false</code>, it will look for an image instead.<br><br><b>Example:</b> When <code>true</code>, the path would be <code>asset_directory_path/Star Wars/poster.png</code> instead of <code>asset_directory_path/Star Wars.png</code>."></i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="create_asset_folders" name="create_asset_folders"
              value="true" {% if data['settings']['create_asset_folders']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="create_asset_folders" value="false">
            <label class="form-check-label" for="create_asset_folders">
              Create Asset Folders
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="Whilst searching for assets, if an asset folder cannot be found within the <code>asset_directory</code> one will be created.<br><br><b>Tip:</b> This is useful when automatically managing large libraries where new assets may be added dynamically."></i>
            </label>
          </div>


          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="prioritize_assets" name="prioritize_assets" value="true"
              {% if data['settings']['prioritize_assets']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="prioritize_assets" value="false">
            <label class="form-check-label" for="prioritize_assets">
              Prioritize Assets
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="When determining which image to use on an item, prioritize the <code>asset_directory</code> over all other image sources.<br><br><b>Tip:</b> This setting is useful when you want to ensure that local assets are always used over externally sourced images."></i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="dimensional_asset_rename"
              name="dimensional_asset_rename" value="true" {% if
              data['settings']['dimensional_asset_rename']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="dimensional_asset_rename" value="false">
            <label class="form-check-label" for="dimensional_asset_rename">
              Dimensional Asset Rename
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="Whilst searching for assets, scan the folders within the <code>asset_directory</code> and if an asset poster (i.e. <code>/ASSET_NAME/poster.ext</code>) was not found, rename the first image found that has a height greater than or equal to its width to <code>poster.ext</code>. If an asset background (i.e. <code>/ASSET_NAME/background.ext</code>), rename the first image found that has a width greater than its height to <code>background.ext</code>.<br><br><b>Tip:</b> <code>asset_folders</code> must be set to <code>true</code> for this to take effect."></i>
            </label>

          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="download_url_assets" name="download_url_assets"
              value="true" {% if data['settings']['download_url_assets']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="download_url_assets" value="false">
            <label class="form-check-label" for="download_url_assets">
              Download URL Assets
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="Whilst searching for assets, download images set within Collection/Metadata/Playlist files (i.e. images set by <code>url_poster</code> or <code>url_background</code>) into the asset folder if none are already present."></i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="show_missing_assets" name="show_missing_assets"
              value="true" {% if data['settings']['show_missing_assets']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="show_missing_assets" value="false">
            <label class="form-check-label" for="show_missing_assets">
              Show Missing Assets
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="Display missing asset warnings for items, collections, and playlists."></i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="show_missing_season_assets"
              name="show_missing_season_assets" value="true" {% if
              data['settings']['show_missing_season_assets']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="show_missing_season_assets" value="false">
            <label class="form-check-label" for="show_missing_season_assets">
              Show Missing Season Assets
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="Whilst searching for assets, when scanning for assets for a TV Show, if Season posters are found (i.e. <code>/ASSET_NAME/Season##.ext</code>), notify the user of any seasons which do not have an asset image.<br><br><b>Tip:</b> Shows/Hides messages like these for seasons/albums:<br> - 'Asset Warning: No poster found for {item_title} in the assets folder {directory}'<br> - 'Asset Warning: No poster {name} found in the assets folders'<br> - 'Missing Season {season_number} Poster'"></i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="show_missing_episode_assets"
              name="show_missing_episode_assets" value="true" {% if
              data['settings']['show_missing_episode_assets']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="show_missing_episode_assets" value="false">
            <label class="form-check-label" for="show_missing_episode_assets">
              Show Missing Episode Assets
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="Whilst searching for assets, when scanning for assets for a TV Show, if an Episode Title Card is found (i.e. <code>/ASSET_NAME/S##E##.ext</code>), notify the user of any episodes which do not have an asset image.<br><br><b>Tip:</b> Shows/Hides messages like these for episodes:<br> - 'Asset Warning: No poster found for {item_title} in the assets folder {directory}'<br> - 'Asset Warning: No poster {name} found in the assets folders'<br> - 'Missing S##E## Title Card'"></i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="show_asset_not_needed" name="show_asset_not_needed"
              value="true" {% if data['settings']['show_asset_not_needed']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="show_asset_not_needed" value="false">
            <label class="form-check-label" for="show_asset_not_needed">
              Show Asset Not Needed
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="Whilst searching for assets, show or hide the <code>update not needed</code> messages."></i>
            </label>

          </div>
          <h6 class="fw-bold mt-3"><u>Overlay Settings</u></h6>
          <div class="row mb-2">
            <div class="col-6">
              <div class="input-group">
                <span class="input-group-text" id="overlay_artwork_filetype_text">
                  Overlay Artwork Filetype
                  <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                    title="Used to control the filetype used with overlay images. This setting will only be applied to images generated after the value is added to your config.<br><br><b>Accepted Values:</b><br> - <code>jpg</code>: Use JPG files for saving Overlays.<br> - <code>png</code>: Use PNG files for saving Overlays.<br> - <code>webp_lossy</code>: Use Lossy WEBP files for saving Overlays.<br> - <code>webp_lossless</code>: Use Lossless WEBP files for saving Overlays.<br><br><b>Default Value:</b> <code>webp_lossy</code>">
                    <i class="bi bi-info-circle-fill"></i>
                  </span>
                </span>

                <select class="form-select" id="overlay_artwork_filetype" name="overlay_artwork_filetype">
                  <option value="jpg" {% if data['settings']['overlay_artwork_filetype']=='jpg' %}selected{% endif %}>
                    JPG</option>
                  <option value="png" {% if data['settings']['overlay_artwork_filetype']=='png' %}selected{% endif %}>
                    PNG</option>
                  <option value="webp_lossy" {% if data['settings']['overlay_artwork_filetype']=='webp_lossy'
                    %}selected{% endif %}>WebP Lossy</option>
                  <option value="webp_lossless" {% if data['settings']['overlay_artwork_filetype']=='webp_lossless'
                    %}selected{% endif %}>WebP Lossless</option>
                </select>
              </div>
            </div>

            <div class="col-6">
              <div class="input-group">
                <span class="input-group-text" id="overlay_artwork_quality_text">
                  Overlay Artwork Quality
                  <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                    title="Used to control the JPG or Lossy WEBP quality used with overlay images. This setting will only be applied to images generated after the value is added to your config.<br><br><b>Accepted Values:</b> Any integer between 1-100.<br><br><b>Warning:</b> Values over 95 are not recommended and may result in excessive image size, perhaps too large to be uploaded to Plex.<br><br><b>Default Value:</b> <code>None</code> (if no value is provided, the standard 90 is used).">
                    <i class="bi bi-info-circle-fill"></i>
                  </span>
                </span>

                <input type="number" class="form-control" id="overlay_artwork_quality" name="overlay_artwork_quality"
                  min="1" max="100" value="{{ data['settings']['overlay_artwork_quality'] }}">
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo">
          Cache Management
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="cache" name="cache" value="true" {% if
              data['settings']['cache']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="cache" value="false">
            <label class="form-check-label" for="cache">
              Cache
              <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                title="Allow Kometa to create and maintain a local cache database for faster subsequent processing. The cache file is created in the same directory as the configuration file.<br><br><b>Warning:</b> If you set this to false, any Overlays set against your libraries will be reapplied on each and every run. This may cause image bloat and significantly increase Kometa's runtime.">
                <i class="bi bi-info-circle-fill"></i>
              </span>
            </label>

          </div>


          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-2">
                <span class="input-group-text" id="cache_expiration_text">
                  Cache Expiration (days)
                  <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                    title="Set the number of days before each cache mapping expires and has to be re-cached.">
                    <i class="bi bi-info-circle-fill"></i>
                  </span>
                </span>

                <input type="number" class="form-control" id="cache_expiration" name="cache_expiration" min="1"
                  value="{{ data['settings']['cache_expiration'] }}" data-default-value="60">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collection/Playlist Management
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h6 class="fw-bold mt-3"><u>Collection Settings</u></h6>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="show_missing" name="show_missing" value="true" {% if
              data['settings']['show_missing']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="show_missing" value="false">
            <label class="form-check-label" for="show_missing">
              Show Missing
              <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                title="While enabled, missing items from collections or playlists will be displayed.">
                <i class="bi bi-info-circle-fill"></i>
              </span>
            </label>
          </div>

          <div class="col-md-8">
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 265px; justify-content: space-between;">
                Sync Mode
                <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                  title="Sets the sync_mode for collections and playlists. Setting the sync_mode directly in a collection or playlist definition will override this setting.">
                  <i class="bi bi-info-circle-fill"></i>
                </span>
              </span>
              <select class="form-select" id="sync_mode" name="sync_mode">
                <option value="append" {% if data['settings']['sync_mode']=='append' %}selected{% endif %}>Append
                  (default)</option>
                <option value="sync" {% if data['settings']['sync_mode']=='sync' %}selected{% endif %}>Sync</option>
              </select>
            </div>
          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="delete_below_minimum" name="delete_below_minimum"
              value="true" {% if data['settings']['delete_below_minimum']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="delete_below_minimum" value="false">
            <label class="form-check-label" for="delete_below_minimum">
              Delete Below Minimum
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="Used to delete collections below minimum items. When a collection is run, delete the collection if it is below the minimum number specified by minimum_items.">
              </i>
            </label>
          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="delete_not_scheduled" name="delete_not_scheduled"
              value="true" {% if data['settings']['delete_not_scheduled']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="delete_not_scheduled" value="false">
            <label class="form-check-label" for="delete_not_scheduled">
              Delete Not Scheduled
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="Used to delete collections not scheduled. If a collection is skipped due to it not being scheduled, delete the collection.">
              </i>
            </label>
          </div>

          <div class="col-md-8">
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 265px; justify-content: space-between;">
                Default Collection Order
                <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                  title="Set the collection_order for every collection run by Kometa unless the collection has a specific collection_order defined.">
                  <i class="bi bi-info-circle-fill"></i>
                </span>
              </span>
              <select class="form-select" id="default_collection_order" name="default_collection_order">
                <option value="release.asc" {% if data['settings']['default_collection_order']=='release.asc'
                  %}selected{% endif %}>Release Date (Ascending)</option>
                <option value="release.desc" {% if data['settings']['default_collection_order']=='release.desc'
                  %}selected{% endif %}>Release Date (Descending)</option>
                <option value="added.asc" {% if data['settings']['default_collection_order']=='added.asc' %}selected{%
                  endif %}>Added to Library (Ascending)</option>
                <option value="added.desc" {% if data['settings']['default_collection_order']=='added.desc' %}selected{%
                  endif %}>Added to Library (Descending)</option>
                <option value="alpha" {% if data['settings']['default_collection_order']=='alpha' %}selected{% endif %}>
                  Alphabetical</option>
                <option value="originally_available.asc" {% if
                  data['settings']['default_collection_order']=='originally_available.asc' %}selected{% endif %}>
                  Originally Available (Ascending)</option>
                <option value="originally_available.desc" {% if
                  data['settings']['default_collection_order']=='originally_available.desc' %}selected{% endif %}>
                  Originally Available (Descending)</option>
                <option value="random" {% if data['settings']['default_collection_order']=='random' %}selected{% endif
                  %}>Random</option>
                <option value="rating.desc" {% if data['settings']['default_collection_order']=='rating.desc'
                  %}selected{% endif %}>Rating (Descending)</option>
                <option value="rating.asc" {% if data['settings']['default_collection_order']=='rating.asc' %}selected{%
                  endif %}>Rating (Ascending)</option>
                <option value="duration.desc" {% if data['settings']['default_collection_order']=='duration.desc'
                  %}selected{% endif %}>Duration (Descending)</option>
                <option value="duration.asc" {% if data['settings']['default_collection_order']=='duration.asc'
                  %}selected{% endif %}>Duration (Ascending)</option>
                <option value="plays.desc" {% if data['settings']['default_collection_order']=='plays.desc' %}selected{%
                  endif %}>Plays (Descending)</option>
                <option value="plays.asc" {% if data['settings']['default_collection_order']=='plays.asc' %}selected{%
                  endif %}>Plays (Ascending)</option>
                <option value="last_played.desc" {% if data['settings']['default_collection_order']=='last_played.desc'
                  %}selected{% endif %}>Last Played (Descending)</option>
                <option value="last_played.asc" {% if data['settings']['default_collection_order']=='last_played.asc'
                  %}selected{% endif %}>Last Played (Ascending)</option>
              </select>
            </div>
          </div>

          <div class="col-md-8">
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 265px; justify-content: space-between;">
                Item Refresh Delay (seconds)
                <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                  title="Specify the number of seconds to wait between each item_refresh of every movie/show in a collection or playlist.">
                  <i class="bi bi-info-circle-fill"></i>
                </span>
              </span>
              <input type="number" class="form-control" id="item_refresh_delay" name="item_refresh_delay" min="0"
                value="{{ data['settings']['item_refresh_delay'] }}">
            </div>
          </div>

          <div class="col-md-8">
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 265px; justify-content: space-between;">
                Minimum Items
                <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                  title="Set the minimum number of items that must be found in order to build or update a collection or playlist.">
                  <i class="bi bi-info-circle-fill"></i>
                </span>
              </span>
              <input type="number" class="form-control" id="minimum_items" name="minimum_items" min="1"
                value="{{ data['settings']['minimum_items'] }}">
            </div>
          </div>

          <div class="col-md-8">
            <div class="input-group mb-2">
              <span class="input-group-text" style="width: 265px; justify-content: space-between;">
                Run Again Delay (minutes)
                <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                  title="Set the number of minutes to delay running run_again collections after the daily run is finished.">
                  <i class="bi bi-info-circle-fill"></i>
                </span>
              </span>
              <input type="number" class="form-control" id="run_again_delay" name="run_again_delay" min="0"
                value="{{ data['settings']['run_again_delay'] }}">
            </div>
          </div>

          <h6 class="fw-bold mt-3"><u>Playlist Settings</u>
            <a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/config/settings/#playlist-sync-to-users"
              target="_blank">
              <i class="bi bi-box-arrow-up-right ms-3"></i>
            </a>
          </h6>

          {% set user_list = plex_data.get('tmp_user_list', []) %}
          {% if user_list %}
          <div id="playlist-settings-section">

            <!-- Playlist Report Toggle -->
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="playlist_report" name="playlist_report" value="true"
                {% if data['settings']['playlist_report']|string|lower=='true' %}checked{% endif %}>
              <input type="hidden" name="playlist_report" value="false">
              <label class="form-check-label" for="playlist_report">
                Playlist Report
                <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                  title="Enable this setting to print out a playlist report at the end of the log.">
                </i>
              </label>
            </div>

            <!-- Buttons to open Modals -->
            <div class="form-floating mb-2">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#syncUsersModal">
                🔄 Select Sync Users
              </button>
              <button type="button" class="btn btn-primary ms-3" data-bs-toggle="modal"
                data-bs-target="#excludeUsersModal">
                ❌ Select Exclude Users
              </button>
            </div>

            <!-- Form inputs to display selected users -->
            <div class="row">
              <div class="col-md-6">
                <div class="input-group mb-2">
                  <span class="input-group-text">
                    Playlist Sync to Users
                    <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                      title="Set the default playlist sync_to_users. To sync a playlist to only yourself, leave this field blank.<br><br><b>Tip:</b> Sharing playlists with other users will not share any associated posters due to a Plex limitation.">
                    </i>
                  </span>
                  <input type="text" class="form-control" id="playlist_sync_to_users" name="playlist_sync_to_users"
                    value="{{ data['settings']['playlist_sync_to_users'] }}" readonly>
                </div>
              </div>

              <div class="col-md-6">
                <div class="input-group mb-2">
                  <span class="input-group-text">
                    Playlist Exclude Users
                    <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                      title="Specify a comma-separated list of users who should be excluded from receiving synced playlists.">
                    </i>
                  </span>
                  <input type="text" class="form-control" id="playlist_exclude_users" name="playlist_exclude_users"
                    value="{{ data['settings']['playlist_exclude_users'] }}" readonly>
                </div>
              </div>
            </div>

          </div>
          {% else %}
          <div id="no-plex-users-message" class="alert alert-warning">
            No Plex users detected. Add users in Plex to enable Playlist Sync and Exclusion.
          </div>

          <!-- Hide settings, but keep modals -->
          <style>
            #playlist-settings-section,
            .sync-user-toggle,
            .exclude-user-toggle,
            #saveSyncChangesButton,
            #saveExcludeChangesButton {
              display: none;
            }
          </style>
          {% endif %}

          <!-- Modals (Always Present, but Buttons Disabled If No Users Exist) -->
          <div class="modal fade" id="syncUsersModal" tabindex="-1" aria-labelledby="syncUsersModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="syncUsersModalLabel">Select Sync Users</h5>
                </div>
                <div class="modal-body">
                  <div id="syncUserListForm">
                    <div class="form-check form-switch">
                      <input class="form-check-input sync-user-toggle" type="checkbox" value="all" id="sync_all_users"
                        {% if not user_list %}disabled{% endif %}>
                      <label class="form-check-label" for="sync_all_users">
                        All Users
                      </label>
                    </div>
                    {% for username in user_list %}
                    <div class="form-check form-switch">
                      <input class="form-check-input sync-user-toggle" type="checkbox" value="{{ username }}"
                        id="sync_user_{{ loop.index }}" {% if not user_list %}disabled{% endif %}>
                      <label class="form-check-label" for="sync_user_{{ loop.index }}">
                        {{ username }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="saveSyncChangesButton" {% if not user_list
                    %}disabled{% endif %}>Apply</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="excludeUsersModal" tabindex="-1" aria-labelledby="excludeUsersModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="excludeUsersModalLabel">Select Exclude Users</h5>
                </div>
                <div class="modal-body">
                  <div id="excludeUserListForm">
                    {% for username in user_list %}
                    <div class="form-check form-switch">
                      <input class="form-check-input exclude-user-toggle" type="checkbox" value="{{ username }}"
                        id="exclude_user_{{ loop.index }}" {% if not user_list %}disabled{% endif %}>
                      <label class="form-check-label" for="exclude_user_{{ loop.index }}">
                        {{ username }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="saveExcludeChangesButton" {% if not user_list
                    %}disabled{% endif %}>Apply</button>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Filtering and Display
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="missing_only_released" name="missing_only_released"
              value="true" {% if data['settings']['missing_only_released']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="missing_only_released" value="false">
            <label class="form-check-label" for="missing_only_released">
              Missing Only Released
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="When enabled, missing lists will only include released items, filtering out unreleased media.">
              </i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="show_unconfigured" name="show_unconfigured" value="true"
              {% if data['settings']['show_unconfigured']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="show_unconfigured" value="false">
            <label class="form-check-label" for="show_unconfigured">
              Show Unconfigured
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="When enabled, collections that are not configured in the current Kometa run will be listed at the end of each run.">
              </i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="show_unmanaged" name="show_unmanaged" value="true" {% if
              data['settings']['show_unmanaged']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="show_unmanaged" value="false">
            <label class="form-check-label" for="show_unmanaged">
              Show Unmanaged
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="When enabled, lists all collections that are not managed by Kometa at the end of each run.">
              </i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="show_filtered" name="show_filtered" value="true" {% if
              data['settings']['show_filtered']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="show_filtered" value="false">
            <label class="form-check-label" for="show_filtered">
              Show Filtered
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="When enabled, lists all items that have been filtered out of a collection or playlist.">
              </i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="show_unfiltered" name="show_unfiltered" value="true" {%
              if data['settings']['show_unfiltered']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="show_unfiltered" value="false">
            <label class="form-check-label" for="show_unfiltered">
              Show Unfiltered
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="When enabled, lists all items that have passed through filters and were added to a collection or playlist.">
              </i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="only_filter_missing" name="only_filter_missing"
              value="true" {% if data['settings']['only_filter_missing']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="only_filter_missing" value="false">
            <label class="form-check-label" for="only_filter_missing">
              Only Filter Missing
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="When enabled, filters will only apply to missing items rather than all items in a collection or playlist.">
              </i>
            </label>

          </div>

          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="save_report" name="save_report" value="true" {% if
              data['settings']['save_report']|string|lower=='true' %}checked{% endif %}>
            <input type="hidden" name="save_report" value="false">
            <label class="form-check-label" for="save_report">
              Save Report
              <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                title="When enabled, saves a report of the items added, removed, filtered, or missing from collections to a YAML file.">
              </i>
            </label>

          </div>


        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#CollapseFive" aria-expanded="false" aria-controls="CollapseFive">
          External Data
        </button>
      </h2>
      <div id="CollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group mb-2">
                <span class="input-group-text" id="tvdb_language_text"
                  style="width: 170px; justify-content: space-between;">
                  TVDB Language
                  <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                    title="Specify the language to query TVDb in. If no language is specified or the specified language is not found, the original language is used.">
                    <i class="bi bi-info-circle-fill"></i>
                  </span>
                </span>

                <select class="form-select" id="tvdb_language" name="tvdb_language"
                  style="width: 170px; justify-content: space-between;">
                  {% for code, language in data['iso_639_2_languages'] | sort(attribute='1') %}
                  <option value="{{ code }}" {% if code==data['settings']['tvdb_language'] %}selected{% endif %}>
                    {{ language }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="input-group mb-2">
                <span class="input-group-text" id="ignore_ids_text"
                  style="width: 170px; justify-content: space-between;">
                  Ignore IDs
                  <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                    title="Set a list or comma-separated string of TMDb/TVDb IDs to ignore in all collections.">
                    <i class="bi bi-info-circle-fill"></i>
                  </span>
                </span>

                <input type="text" class="form-control" id="ignore_ids" name="ignore_ids"
                  value="{{ data['settings']['ignore_ids'] }}">
              </div>
              <div class="error-message text-danger"></div>
            </div>

            <div class="col-md-6">
              <div class="input-group mb-2">
                <span class="input-group-text" id="ignore_imdb_ids_text">
                  Ignore IMDb IDs
                  <span class="text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true" style="margin-left: 10px;"
                    title="Set a list or comma-separated string of IMDb IDs to ignore in all collections.">
                    <i class="bi bi-info-circle-fill"></i>
                  </span>
                </span>

                <input type="text" class="form-control" id="ignore_imdb_ids" name="ignore_imdb_ids"
                  value="{{ data['settings']['ignore_imdb_ids'] }}">
              </div>
              <div class="error-message text-danger"></div>
            </div>
          </div>


        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollapseSix"
          aria-expanded="false" aria-controls="CollapseSix">
          Miscellaneous
        </button>
      </h2>
      <div id="CollapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="show_options" name="show_options" value="true" {% if
                  data['settings']['show_options']|string|lower=='true' %}checked{% endif %}>
                <input type="hidden" name="show_options" value="false">
                <label class="form-check-label" for="show_options">
                  Show Options
                  <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                    title="When enabled, displays available attribute options for use with plex_search, smart_filter, or filters.">
                  </i>
                </label>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="verify_ssl" name="verify_ssl" value="true" {% if
                  data['settings']['verify_ssl']|string|lower=='true' %}checked{% endif %}>
                <input type="hidden" name="verify_ssl" value="false">
                <label class="form-check-label" for="verify_ssl">
                  Verify SSL
                  <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                    title="When enabled, verifies SSL certificates for secure requests. If disabled, Kometa will ignore SSL verification errors.">
                  </i>
                </label>

              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-text" style="width: 170px; justify-content: space-between;">
                  Run Order
                  <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                    title="Specify the run order of the library components, including Library Operations, Collection Files, and Overlay Files.">
                  </i>
                </span>

                <select class="form-select" id="run_order" name="run_order" style="width: 170px; justify-content: space-between;">
                  <option value="operations metadata collections overlays" {% if ' '
                    .join(data['settings']['run_order'])=='operations metadata collections overlays' %}selected{% endif
                    %}>
                    (default) operations metadata collections overlays
                  </option>
                  <option value="operations metadata overlays collections" {% if ' '
                    .join(data['settings']['run_order'])=='operations metadata overlays collections' %}selected{% endif
                    %}>
                    operations metadata overlays collections
                  </option>
                  <option value="operations collections metadata overlays" {% if ' '
                    .join(data['settings']['run_order'])=='operations collections metadata overlays' %}selected{% endif
                    %}>
                    operations collections metadata overlays
                  </option>
                  <option value="operations collections overlays metadata" {% if ' '
                    .join(data['settings']['run_order'])=='operations collections overlays metadata' %}selected{% endif
                    %}>
                    operations collections overlays metadata
                  </option>
                  <option value="operations overlays metadata collections" {% if ' '
                    .join(data['settings']['run_order'])=='operations overlays metadata collections' %}selected{% endif
                    %}>
                    operations overlays metadata collections
                  </option>
                  <option value="operations overlays collections metadata" {% if ' '
                    .join(data['settings']['run_order'])=='operations overlays collections metadata' %}selected{% endif
                    %}>
                    operations overlays collections metadata
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-12">
              <div class="input-group">
                <span class="input-group-text" style="width: 170px; justify-content: space-between;">
                  Custom Repo
                  <i class="bi bi-info-circle-fill text-info ms-3" data-bs-toggle="tooltip" data-bs-html="true"
                    title="Specify a custom repository URL or path to use for additional collection, metadata, or overlay files.">
                  </i>
                </span>

                <input type="text" class="form-control" id="custom_repo" name="custom_repo" placeholder=""
                  value="{{ data['settings']['custom_repo'] }}">
              </div>
              <div class="error-message text-danger"></div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-floating" style="display:none;">
  <input type="text" class="form-control" id="settings_validated" name="settings_validated"
    value="{{ data['validated'] }}" title="">
  <label for="settings_validated">Settings Validated</label>
</div>
<input type="hidden" id="settings_validated_at" name="settings_validated_at" value="{{ data['validated_at'] or '' }}">
<div id="statusMessage" class="status-message mb-2"></div>
</div>
</form>
{% endblock %}
